.Time{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px; 
    border-radius: 10px; 
    width: 250px; 
    margin: 0 auto; 
    color: white; 
    text-align: center;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  p {
    font-size: 1rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }