.weather-forecast {
    margin-top: 13rem;
    margin-left:1rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start; 
    margin-bottom: 20px; 
  }
  
  .weather-block {
    border: 1px solid #ccc; 
    padding: 10px;
    margin-bottom: 10px; 
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    text-align: center; 
  }